/* line 5, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/base/_typography.sass */
body {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

/* line 10, ../sass/base/_typography.sass */
a {
  text-decoration: none;
  color: #5a1e25;
}

/* line 1, ../sass/modules/_main-area.sass */
.main-area {
  background-color: #edf1f4;
  height: 100vh;
  margin: 0 auto;
}
/* line 7, ../sass/modules/_main-area.sass */
.main-area p {
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/modules/_topbar.sass */
.topbar {
  display: none;
  min-height: 50px;
  margin: 0;
  padding: 0;
  background-color: #421722;
}
@media (min-width: 768px) {
  /* line 1, ../sass/modules/_topbar.sass */
  .topbar {
    display: block;
  }
}

/* line 10, ../sass/modules/_topbar.sass */
.contact-list {
  width: 12.2807%;
  float: right;
  margin-right: 0;
}
@media (min-width: 768px) {
  /* line 10, ../sass/modules/_topbar.sass */
  .contact-list {
    width: 9.09091%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  /* line 10, ../sass/modules/_topbar.sass */
  .contact-list {
    width: 7.21649%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../sass/modules/_topbar.sass */
  .contact-list {
    width: 5.98291%;
    float: right;
    margin-right: 0;
  }
}
/* line 20, ../sass/modules/_topbar.sass */
.contact-list a {
  width: -7.14286%;
  float: left;
  margin-right: 42.85714%;
  text-decoration: none;
  color: #edf1f4;
  cursor: pointer;
}
/* line 22, ../sass/modules/_topbar.sass */
.contact-list a:last-child {
  width: -7.14286%;
  float: right;
  margin-right: 0;
}
@media (min-width: 768px) {
  /* line 20, ../sass/modules/_topbar.sass */
  .contact-list a {
    margin: 0;
    padding: 0;
    float: none;
  }
}
/* line 33, ../sass/modules/_topbar.sass */
.contact-list a i {
  padding: 15px 0;
}

/* line 36, ../sass/modules/_topbar.sass */
.top-header {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  margin: 0;
}

/* line 42, ../sass/modules/_topbar.sass */
.header-brand {
  width: 29.82456%;
  float: left;
  margin-right: 5.26316%;
  padding: 15px 0;
}
@media (min-width: 768px) {
  /* line 42, ../sass/modules/_topbar.sass */
  .header-brand {
    width: 22.07792%;
    float: left;
    margin-right: 3.8961%;
  }
}
@media (min-width: 992px) {
  /* line 42, ../sass/modules/_topbar.sass */
  .header-brand {
    width: 17.52577%;
    float: left;
    margin-right: 3.09278%;
  }
}
@media (min-width: 1200px) {
  /* line 42, ../sass/modules/_topbar.sass */
  .header-brand {
    width: 14.52991%;
    float: left;
    margin-right: 2.5641%;
  }
}

/* line 52, ../sass/modules/_topbar.sass */
.main-nav {
  margin-top: 4em;
  width: 64.91228%;
  float: right;
  margin-right: 0;
}
@media (min-width: 768px) {
  /* line 52, ../sass/modules/_topbar.sass */
  .main-nav {
    width: 48.05195%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  /* line 52, ../sass/modules/_topbar.sass */
  .main-nav {
    width: 38.14433%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 52, ../sass/modules/_topbar.sass */
  .main-nav {
    width: 31.62393%;
    float: right;
    margin-right: 0;
  }
}
/* line 63, ../sass/modules/_topbar.sass */
.main-nav li {
  cursor: pointer;
  width: 18.91892%;
  float: left;
  margin-right: 8.10811%;
}
/* line 68, ../sass/modules/_topbar.sass */
.main-nav li:last-child {
  width: 18.91892%;
  float: right;
  margin-right: 0;
}
/* line 71, ../sass/modules/_topbar.sass */
.main-nav li a {
  color: #edf1f4;
  display: block;
  text-align: right;
}
/* line 77, ../sass/modules/_topbar.sass */
.main-nav li a:hover, .main-nav li a:active {
  color: #fbf6a6;
}

/* line 14, ../sass/style.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../sass/style.sass */
body {
  background-color: #5a1e25;
}

/* line 18, ../sass/style.sass */
.wrapper {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(70%, rgba(179, 179, 255, 0.25)), color-stop(70%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
  background-size: 17.54386%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  *zoom: 1;
}
/* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  /* line 18, ../sass/style.sass */
  .wrapper {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(70%, rgba(179, 179, 255, 0.25)), color-stop(70%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
    background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
    background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
    background-size: 12.98701%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 992px) {
  /* line 18, ../sass/style.sass */
  .wrapper {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(70%, rgba(179, 179, 255, 0.25)), color-stop(70%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
    background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
    background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
    background-size: 10.30928%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* line 18, ../sass/style.sass */
  .wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(70%, rgba(179, 179, 255, 0.25)), color-stop(70%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
    background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
    background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, rgba(0, 0, 0, 0) 70%);
    background-size: 8.54701%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}
