/* line 5, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Typography using rem */
/* Line-height of 1.5 */
/* 16px font, 24px line-height */
/* Major Third */
/* 1.25 font scale ratio */
/* line 20, ../sass/base/_typographyMajorThird.sass */
body {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 25, ../sass/base/_typographyMajorThird.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
}

/* line 29, ../sass/base/_typographyMajorThird.sass */
h1 {
  font-size: 3.052rem;
  line-height: 4.5rem;
}

/* line 33, ../sass/base/_typographyMajorThird.sass */
h2 {
  font-size: 2.441rem;
  line-height: 3rem;
}

/* line 39, ../sass/base/_typographyMajorThird.sass */
h3 {
  font-size: 1.953rem;
  line-height: 3rem;
}

/* line 43, ../sass/base/_typographyMajorThird.sass */
h4 {
  font-size: 1.563rem;
  line-height: 1.5rem;
}

/* line 47, ../sass/base/_typographyMajorThird.sass */
h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

/* line 51, ../sass/base/_typographyMajorThird.sass */
h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* line 55, ../sass/base/_typographyMajorThird.sass */
p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 59, ../sass/base/_typographyMajorThird.sass */
blockquote {
  background-color: rgba(150, 150, 150, 0.5);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1.5rem;
}
/* line 68, ../sass/base/_typographyMajorThird.sass */
blockquote p {
  margin: 0;
  font-family: "Noto Serif", serif;
  font-style: italic;
}

/* line 72, ../sass/base/_typographyMajorThird.sass */
a {
  text-decoration: none;
  color: #5a1e25;
}

/* line 1, ../sass/modules/_topbar.sass */
.topbar {
  display: none;
  min-height: 48px;
  margin: 0;
  background-color: #421722;
}
@media (min-width: 768px) {
  /* line 1, ../sass/modules/_topbar.sass */
  .topbar {
    display: block;
  }
}

/* line 10, ../sass/modules/_topbar.sass */
.top-info {
  font-size: 0.8em;
  font-style: italic;
  color: #fbf6a6;
  line-height: 1.875em;
  margin-bottom: 0;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  width: 29.82456%;
  float: left;
  margin-right: 5.26316%;
}
@media (min-width: 768px) {
  /* line 10, ../sass/modules/_topbar.sass */
  .top-info {
    width: 35.06494%;
    float: left;
    margin-right: 3.8961%;
  }
}
@media (min-width: 992px) {
  /* line 10, ../sass/modules/_topbar.sass */
  .top-info {
    width: 27.83505%;
    float: left;
    margin-right: 3.09278%;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../sass/modules/_topbar.sass */
  .top-info {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
}

/* line 27, ../sass/modules/_topbar.sass */
.contact-list {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  width: 12.2807%;
  float: right;
  margin-right: 0;
}
@media (min-width: 768px) {
  /* line 27, ../sass/modules/_topbar.sass */
  .contact-list {
    width: 9.09091%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  /* line 27, ../sass/modules/_topbar.sass */
  .contact-list {
    width: 7.21649%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 27, ../sass/modules/_topbar.sass */
  .contact-list {
    width: 5.98291%;
    float: right;
    margin-right: 0;
  }
}
/* line 39, ../sass/modules/_topbar.sass */
.contact-list a {
  display: block;
  text-align: center;
  width: 25%;
  float: left;
  text-decoration: none;
  color: #edf1f4;
  cursor: pointer;
}
/* line 43, ../sass/modules/_topbar.sass */
.contact-list a:last-child {
  width: 25%;
  float: right;
  margin-right: 0;
}
/* line 49, ../sass/modules/_topbar.sass */
.contact-list a:hover, .contact-list a:active {
  color: #fbf6a6;
}

/* line 52, ../sass/modules/_topbar.sass */
.top-header {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  margin: 0;
}

/* line 58, ../sass/modules/_topbar.sass */
.header-brand {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
@media (min-width: 768px) {
  /* line 58, ../sass/modules/_topbar.sass */
  .header-brand {
    float: left;
  }
}
/* line 78, ../sass/modules/_topbar.sass */
.header-brand img {
  display: block;
  height: 4.5em;
  margin: 1.5em auto;
  padding: 0;
}

/* line 88, ../sass/modules/_topbar.sass */
.main-nav {
  margin-bottom: 1.5em;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  /* line 88, ../sass/modules/_topbar.sass */
  .main-nav {
    margin-top: 4.5em;
    width: 48.05195%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  /* line 88, ../sass/modules/_topbar.sass */
  .main-nav {
    width: 38.14433%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 88, ../sass/modules/_topbar.sass */
  .main-nav {
    width: 31.62393%;
    float: right;
    margin-right: 0;
  }
}
/* line 100, ../sass/modules/_topbar.sass */
.main-nav li {
  width: 25%;
  float: left;
  cursor: pointer;
}
@media (min-width: 768px) {
  /* line 100, ../sass/modules/_topbar.sass */
  .main-nav li {
    width: 18.91892%;
    float: left;
    margin-right: 8.10811%;
  }
  /* line 109, ../sass/modules/_topbar.sass */
  .main-nav li:last-child {
    width: 18.91892%;
    float: right;
    margin-right: 0;
  }
  /* line 111, ../sass/modules/_topbar.sass */
  .main-nav li a {
    text-align: right;
  }
}
/* line 114, ../sass/modules/_topbar.sass */
.main-nav li a {
  color: #edf1f4;
  display: block;
  text-align: center;
}
/* line 120, ../sass/modules/_topbar.sass */
.main-nav li a:hover, .main-nav li a:active {
  color: #fbf6a6;
}

/* line 1, ../sass/modules/_main-area.sass */
.main-area {
  background-color: #edf1f4;
  max-width: 100%;
  padding-top: 1.5rem;
  margin: 0 auto 1.5rem;
}
@media (min-width: 768px) {
  /* line 1, ../sass/modules/_main-area.sass */
  .main-area {
    max-width: 800px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/modules/_main-area.sass */
  .main-area {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/modules/_main-area.sass */
  .main-area {
    max-width: 1200px;
  }
}

/* line 1, ../sass/modules/_footer.sass */
.main-footer {
  background-color: #373737;
}

/* line 3, ../sass/modules/_footer.sass */
.footer-widgets {
  padding-top: 1.5rem;
}

/* line 5, ../sass/modules/_footer.sass */
.footer-widget {
  color: #b7b7b7;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  /* line 5, ../sass/modules/_footer.sass */
  .footer-widget {
    width: 48.05195%;
    float: left;
    margin-right: 3.8961%;
  }
  /* line 10, ../sass/modules/_footer.sass */
  .footer-widget:nth-child(2) {
    width: 48.05195%;
    float: right;
    margin-right: 0;
  }
  /* line 12, ../sass/modules/_footer.sass */
  .footer-widget:last-child {
    width: 48.05195%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  /* line 5, ../sass/modules/_footer.sass */
  .footer-widget {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 16, ../sass/modules/_footer.sass */
  .footer-widget:nth-child(2) {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 18, ../sass/modules/_footer.sass */
  .footer-widget:last-child {
    width: 23.07692%;
    float: right;
    margin-right: 0;
  }
}

/* line 20, ../sass/modules/_footer.sass */
.footer-bottom {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #777777;
  background-color: #252525;
}

/* line 26, ../sass/modules/_footer.sass */
.copyright {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 29.82456%;
  float: left;
  margin-right: 5.26316%;
}
@media (min-width: 768px) {
  /* line 26, ../sass/modules/_footer.sass */
  .copyright {
    width: 48.05195%;
    float: left;
    margin-right: 3.8961%;
  }
}
@media (min-width: 992px) {
  /* line 26, ../sass/modules/_footer.sass */
  .copyright {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
}

/* line 43, ../sass/modules/_footer.sass */
.back-to-top {
  width: 29.82456%;
  float: right;
  margin-right: 0;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 43, ../sass/modules/_footer.sass */
  .back-to-top {
    width: 48.05195%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  /* line 43, ../sass/modules/_footer.sass */
  .back-to-top {
    width: 5.98291%;
    float: right;
    margin-right: 0;
  }
}
/* line 52, ../sass/modules/_footer.sass */
.back-to-top a {
  float: right;
  display: block;
  padding: 0.25rem 0.5rem;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #421722;
}
/* line 60, ../sass/modules/_footer.sass */
.back-to-top a i {
  font-size: 2rem;
  line-height: 1.5rem;
}

/* line 3, ../sass/views/_courses.sass */
.course-widget {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 23.07692%;
  float: left;
  margin-right: 2.5641%;
}
/* line 7, ../sass/views/_courses.sass */
.course-widget h4 {
  color: #edf1f4;
  padding: 1.5rem;
  display: block;
  text-transform: uppercase;
  text-align: center;
}
/* line 15, ../sass/views/_courses.sass */
.course-widget h4 a {
  display: block;
  color: #edf1f4;
}
/* line 18, ../sass/views/_courses.sass */
.course-widget ul {
  padding: 0 1.5rem 1.5rem;
}

/* line 21, ../sass/views/_courses.sass */
.course-construction {
  background-color: #e29665;
}
/* line 23, ../sass/views/_courses.sass */
.course-construction h4 {
  background-color: #c08056;
}

/* line 25, ../sass/views/_courses.sass */
.course-accounting {
  background-color: #65c7e2;
}
/* line 27, ../sass/views/_courses.sass */
.course-accounting h4 {
  background-color: #56a9c0;
}

/* line 29, ../sass/views/_courses.sass */
.course-whs {
  background-color: #e2dc63;
}
/* line 31, ../sass/views/_courses.sass */
.course-whs h4 {
  background-color: #c0bb54;
}

/* line 18, ../sass/style.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/style.sass */
body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM1YTFlMjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMTNhMzAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #5a1e25), color-stop(100%, #b13a30));
  background-image: -moz-linear-gradient(#5a1e25 50%, #b13a30);
  background-image: -webkit-linear-gradient(#5a1e25 50%, #b13a30);
  background-image: linear-gradient(#5a1e25 50%, #b13a30);
}

/* line 28, ../sass/style.sass */
.wrapper {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  *zoom: 1;
}
/* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  /* line 28, ../sass/style.sass */
  .wrapper {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 992px) {
  /* line 28, ../sass/style.sass */
  .wrapper {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* line 28, ../sass/style.sass */
  .wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}
