/* line 5, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/base/_typography.sass */
body {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* line 19, ../sass/base/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0;
}

/* line 23, ../sass/base/_typography.sass */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

/* line 27, ../sass/base/_typography.sass */
h2 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 0.66667em;
}

/* line 31, ../sass/base/_typography.sass */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 35, ../sass/base/_typography.sass */
h4 {
  font-size: 1.3125em;
  line-height: 1.14286;
  margin-bottom: 1.14286em;
}

/* line 39, ../sass/base/_typography.sass */
h5 {
  font-size: 1.125em;
  line-height: 1.33333;
  margin-bottom: 1.33333em;
}

/* line 43, ../sass/base/_typography.sass */
h6 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

/* line 47, ../sass/base/_typography.sass */
p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

/* line 51, ../sass/base/_typography.sass */
blockquote {
  background-color: rgba(150, 150, 150, 0.5);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1.5em;
}
/* line 60, ../sass/base/_typography.sass */
blockquote p {
  margin: 0;
  font-family: "Noto Serif", serif;
  font-style: italic;
}

/* line 64, ../sass/base/_typography.sass */
a {
  text-decoration: none;
  color: #5a1e25;
}

/* line 1, ../sass/modules/_main-area.sass */
.main-area {
  background-color: #edf1f4;
  height: 100vh;
  max-width: 1200px;
  padding-top: 1.5em;
  margin: 0 auto;
}

/* line 1, ../sass/modules/_topbar.sass */
.topbar {
  display: none;
  min-height: 48px;
  margin: 0;
  background-color: #421722;
}
@media (min-width: 768px) {
  /* line 1, ../sass/modules/_topbar.sass */
  .topbar {
    display: block;
  }
}

/* line 10, ../sass/modules/_topbar.sass */
.contact-list {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  width: 12.2807%;
  float: right;
  margin-right: 0;
}
@media (min-width: 768px) {
  /* line 10, ../sass/modules/_topbar.sass */
  .contact-list {
    width: 9.09091%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  /* line 10, ../sass/modules/_topbar.sass */
  .contact-list {
    width: 7.21649%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../sass/modules/_topbar.sass */
  .contact-list {
    width: 5.98291%;
    float: right;
    margin-right: 0;
  }
}
/* line 22, ../sass/modules/_topbar.sass */
.contact-list a {
  width: -7.14286%;
  float: left;
  margin-right: 42.85714%;
  text-decoration: none;
  color: #edf1f4;
  cursor: pointer;
}
/* line 24, ../sass/modules/_topbar.sass */
.contact-list a:last-child {
  width: -7.14286%;
  float: right;
  margin-right: 0;
}
@media (min-width: 768px) {
  /* line 22, ../sass/modules/_topbar.sass */
  .contact-list a {
    margin: 0;
    padding: 0;
    float: none;
  }
}

/* line 40, ../sass/modules/_topbar.sass */
.top-header {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  margin: 0;
}

/* line 46, ../sass/modules/_topbar.sass */
.header-brand {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
@media (min-width: 768px) {
  /* line 46, ../sass/modules/_topbar.sass */
  .header-brand {
    float: left;
  }
}
/* line 66, ../sass/modules/_topbar.sass */
.header-brand img {
  display: block;
  height: 4.5em;
  margin: 1.5em auto;
  padding: 0;
}

/* line 76, ../sass/modules/_topbar.sass */
.main-nav {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  /* line 76, ../sass/modules/_topbar.sass */
  .main-nav {
    margin-top: 4.5em;
    width: 48.05195%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  /* line 76, ../sass/modules/_topbar.sass */
  .main-nav {
    width: 38.14433%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 76, ../sass/modules/_topbar.sass */
  .main-nav {
    width: 31.62393%;
    float: right;
    margin-right: 0;
  }
}
/* line 88, ../sass/modules/_topbar.sass */
.main-nav li {
  width: 25%;
  float: left;
  cursor: pointer;
}
@media (min-width: 768px) {
  /* line 88, ../sass/modules/_topbar.sass */
  .main-nav li {
    width: 18.91892%;
    float: left;
    margin-right: 8.10811%;
  }
  /* line 97, ../sass/modules/_topbar.sass */
  .main-nav li:last-child {
    width: 18.91892%;
    float: right;
    margin-right: 0;
  }
  /* line 99, ../sass/modules/_topbar.sass */
  .main-nav li a {
    text-align: right;
  }
}
/* line 102, ../sass/modules/_topbar.sass */
.main-nav li a {
  color: #edf1f4;
  display: block;
  text-align: center;
}
/* line 108, ../sass/modules/_topbar.sass */
.main-nav li a:hover, .main-nav li a:active {
  color: #fbf6a6;
}

/* line 15, ../sass/style.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/style.sass */
body {
  background-color: #5a1e25;
}

/* line 24, ../sass/style.sass */
.wrapper {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  *zoom: 1;
}
/* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  /* line 24, ../sass/style.sass */
  .wrapper {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 992px) {
  /* line 24, ../sass/style.sass */
  .wrapper {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* line 24, ../sass/style.sass */
  .wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}
