// --------------------------------------
// 	Colours
// --------------------------------------
$psi-red: #5a1e25
$psi-red-s: #421722
$psi-red-h: #8f604f
$psi-sun: #b13a30

$psi-blue: #50616c
$psi-blue-s: #3a444c

$psi-yellow: #fbf6a6

$psi-grey: #373737
$psi-grey-s: #252525

$psi-white: #edf1f4

// --------------------------------------
// 	Layout Breakpoints
// --------------------------------------
$bp-sml: 768px
$bp-md: 992px
$bp-lg: 1200px

// --------------------------------------
// 	Font Families
// --------------------------------------
$oxygen: 'Oxygen', Helvetica, Arial, sans-serif
$noto-sans: 'Noto Sans', Helvetica, Arial, sans-serif
$noto-serif: 'Noto Serif', serif
// $source-sans: 'Source Sans Pro', Helvetica, Arial, sans-serif