// .course-widgets
	
.course-widget
	@include box-sizing(border-box)
	@include span(3 of 12)
	// padding: 1.5rem
	h4
		color: $psi-white
		padding: 1.5rem
		display: block
		// font-size: 0.8em
		// display: block
		text-transform: uppercase
		text-align: center
		a
			display: block
			color: $psi-white
	ul
		padding: 0 1.5rem 1.5rem

.course-construction
	background-color: $course-orange
	h4
		background-color: shade($course-orange, 15%) 
.course-accounting
	background-color: $course-blue
	h4
		background-color: shade($course-blue, 15%) 
.course-whs
	background-color: $course-yellow 
	h4
		background-color: shade($course-yellow, 15%) 